styles.css
<body>
<html>		
	<head> 
		<link rel= “stylesheet” type=“text/css	” href=“styles/styles.css”>

	</head>



	<body>
		<p>	TEXT HERE		</p>
	</body>
</html>

    <h3>  EXAMPLE CONTENT </h3>
	<br>
	<h4>	MORE EXAMPLE CONTENT	</h4>
	<br>
	<h5></h5>
    <br>
    



    <style>
		[	STYLE HERE  - AIRTIGHT	]		
</style>
<body>
	<p style=“background-color:	RED	”>	ITEM ATTACHED </p>
</body>
<body>
	<p style=“background-color:	RED	”>	ITEM ATTACHED </p>
</body>
<body>
	<p style=“background-color:	RED	”>	ITEM ATTACHED </p>
</body>
<body>
	<p style=“background-color:	RED	”>	ITEM ATTACHED </p>
</body>
<body>
	<p style=“background-color:	RED	”>	ITEM ATTACHED </p>
</body>
<body>
	<p style=“background-color:	RED	”>	ITEM ATTACHED </p>
</body>



<head>	
	<style>
			p{
				background-color: RED	;
			}
	</style>
</head>
<head>	
	<style>
			p{
				background-color: RED	;
			}
	</style>
</head>
<head>	
	<style>
			p{
				background-color: RED	;
			}
	</style>
</head>
<head>	
	<style>
			p{
				background-color: RED	;
			}
	</style>
</head>
<head>	
	<style>
			p{
				background-color: RED	;
			}
	</style>
</head>

<head>	
	<style>
			p{
				background-color: RED	;
			}
	</style>
</head>

<head>	
	<style>
			p{
				background-color: RED	;
			}
	</style>
</head>

<head>	
	<style>
			p{
				background-color: RED	;
			}
	</style>
</head>
<head>
	<link rel=“	STYLESHEET	” type=“	TEXT/CSS           ” href=“   STYLES/STYLES.CSS.      ”>
</head>
<head>
	<link rel=“	STYLESHEET	” type=“	TEXT/CSS           ” href=“   STYLES/STYLES.CSS.      ”>
</head>
<head>
	<link rel=“	STYLESHEET	” type=“	TEXT/CSS           ” href=“   STYLES/STYLES.CSS.      ”>
</head>
<head>
	<link rel=“	STYLESHEET	” type=“	TEXT/CSS           ” href=“   STYLES/STYLES.CSS.      ”>
</head>
<head>
	<link rel=“	STYLESHEET	” type=“	TEXT/CSS           ” href=“   STYLES/STYLES.CSS.      ”>
</head>
<head>
	<link rel=“	STYLESHEET	” type=“	TEXT/CSS           ” href=“   STYLES/STYLES.CSS.      ”>
</head>
<head>
	<link rel=“	STYLESHEET	” type=“	TEXT/CSS           ” href=“   STYLES/STYLES.CSS.      ”>
</head>




P{
	background-color: GREEN;
	color:	YELLOW;
}
P{
	background-color: GREEN;
	color:	YELLOW;
}
P{
	background-color: GREEN;
	color:	YELLOW;
}
P{
	background-color: GREEN;
	color:	YELLOW;
}
P{
	background-color: GREEN;
	color:	YELLOW;
}








<script>
		[	TEXT HERE - AIRTIGHT	]		
</script>

<link rel= “stylesheet” type=“text/css	” href=“styles/styles.css”>






<script src=:"script.js“> 					</script>









    h3	{
		padding: 50px;
		margin: 50px;
		border-width; 50px;
		border-style: solid;
		border-color: green;
}
h4	{
		border-width; 5px;
		border-style: solid;
		border-color: green;
}


h4, h1, p	{
		border-width; 5px;
		border-style: solid;
		border-color: green;
}


<img>		</img>		IMAGES

<body>
	<h1>	IDENTIFY THE PICURE IN WORDS	ALWAYS MAKE AIR TIGHT   </h1>
	<img src=“	IMAGES / PICTURE NAME . PNG 	”> alt=“	WHATEVER IS IN H1		”> 
	<h5>  TEXT ABOUT THE PICTURE </h5>
	
</body>

<img>		</img>		IMAGES

<body>
	<h1>	IDENTIFY THE PICURE IN WORDS	ALWAYS MAKE AIR TIGHT   </h1>
	<img src=“	IMAGES / PICTURE NAME . PNG 	”> alt=“	WHATEVER IS IN H1		”> 
	<h5>  TEXT ABOUT THE PICTURE </h5>
	
</body>
<img>		</img>		IMAGES

<body>
	<h1>	IDENTIFY THE PICURE IN WORDS	ALWAYS MAKE AIR TIGHT   </h1>
	<img src=“	IMAGES / PICTURE NAME . PNG 	”> alt=“	WHATEVER IS IN H1		”> 
	<h5>  TEXT ABOUT THE PICTURE </h5>
	
</body>
<img>		</img>		IMAGES

<body>
	<h1>	IDENTIFY THE PICURE IN WORDS	ALWAYS MAKE AIR TIGHT   </h1>
	<img src=“	IMAGES / PICTURE NAME . PNG 	”> alt=“	WHATEVER IS IN H1		”> 
	<h5>  TEXT ABOUT THE PICTURE </h5>
	
</body>
<img>		</img>		IMAGES

<body>
	<h1>	IDENTIFY THE PICURE IN WORDS	ALWAYS MAKE AIR TIGHT   </h1>
	<img src=“	IMAGES / PICTURE NAME . PNG 	”> alt=“	WHATEVER IS IN H1		”> 
	<h5>  TEXT ABOUT THE PICTURE </h5>
	
</body>
<img>		</img>		IMAGES

<body>
	<h1>	IDENTIFY THE PICURE IN WORDS	ALWAYS MAKE AIR TIGHT   </h1>
	<img src=“	IMAGES / PICTURE NAME . PNG 	”> alt=“	WHATEVER IS IN H1		”> 
	<h5>  TEXT ABOUT THE PICTURE </h5>
	
</body>
<img>		</img>		IMAGES

<body>
	<h1>	IDENTIFY THE PICURE IN WORDS	ALWAYS MAKE AIR TIGHT   </h1>
	<img src=“	IMAGES / PICTURE NAME . PNG 	”> alt=“	WHATEVER IS IN H1		”> 
	<h5>  TEXT ABOUT THE PICTURE </h5>
	
</body>
<img>		</img>		IMAGES

<body>
	<h1>	IDENTIFY THE PICURE IN WORDS	ALWAYS MAKE AIR TIGHT   </h1>
	<img src=“	IMAGES / PICTURE NAME . PNG 	”> alt=“	WHATEVER IS IN H1		”> 
	<h5>  TEXT ABOUT THE PICTURE </h5>
	
</body>
<img>		</img>		IMAGES

<body>
	<h1>	IDENTIFY THE PICURE IN WORDS	ALWAYS MAKE AIR TIGHT   </h1>
	<img src=“	IMAGES / PICTURE NAME . PNG 	”> alt=“	WHATEVER IS IN H1		”> 
	<h5>  TEXT ABOUT THE PICTURE </h5>
	
</body>



</body>

